:root{
    /*FONT*/
    --font-dm-sans: "DM Sans", sans-serif;

    /*COLORS*/
    --bg-icon: #131313;
    --bg-arrow-color: rgba(0,0,07);
    --bt-icon: #b3b3b3;
    --cor-primaria: #ffffff;
    --bg-color: #121212;
    --bg-black: #000;
    --library-color: #242424;   
}